[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = git@github.com:jhpetrichor/learning-lm-rs.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = git@github.com:jhpetrichor/TinyInfiniTensor
